version: "3.9"

services:
  db:
    image: mariadb:10.6
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: moodle
      MYSQL_USER: moodle
      MYSQL_PASSWORD: moodle
    volumes:
      - db_data:/var/lib/mysql

  moodle:
    image: bitnami/moodle:latest
    restart: unless-stopped
    environment:
      MOODLE_DATABASE_TYPE: mariadb
      MOODLE_DATABASE_HOST: db
      MOODLE_DATABASE_NAME: moodle
      MOODLE_DATABASE_USER: moodle
      MOODLE_DATABASE_PASSWORD: moodle
    depends_on:
      - db
    ports:
      - "8080:8080"   # Moodle web
    volumes:
      - moodle_data:/bitnami/moodle
      - moodledata_data:/bitnami/moodledata

  exam-service:
    build:
      context: ../service
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    environment:
      LMS_DB_URL: mysql+pymysql://moodle:moodle@db/moodle
    ports:
      - "8000:8000"

volumes:
  db_data:
  moodle_data:
  moodledata_data:
